/* Global Imports   */
/*-------------------------------*/
/*   Base Imports                */
/*-------------------------------*/
/*-------------------------------*/
/*   _variables.scss             */
/*-------------------------------*/
/*----------------------------------*/
/*   _base.scss  (body, p, a, etc)  */
/*----------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #212121;
  background: #fdf8e1; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.75em;
  letter-spacing: 3px;
  color: #000;
  margin-top: 100px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 3em; } }
  @media (min-width: 840px) {
    h1 {
      font-size: 4em; } }

h2 {
  font-size: 1.65em;
  line-height: 1.0;
  text-transform: uppercase;
  color: #781125; }
  @media (min-width: 768px) {
    h2 {
      font-size: 2em; } }
  @media (min-width: 840px) {
    h2 {
      font-size: 2em;
      margin-top: 0.5em;
      margin-bottom: 0.5em; } }

h2.survey {
  margin-bottom: -7px; }
  @media (min-width: 768px) {
    h2.survey {
      margin-bottom: -15px; } }
  @media (min-width: 840px) {
    h2.survey {
      margin-bottom: -35px; } }

/* Banner - H2 */
header h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  text-transform: lowercase;
  letter-spacing: 2px;
  line-height: 1.0;
  margin-top: -20px; }
  @media (min-width: 840px) {
    header h2 {
      font-size: 2em; } }

/* Tour Date H2 */
.tourdates {
  letter-spacing: 3px; }

/* Link Styles */
a {
  text-decoration: none;
  color: #b3b3b3; }
  a:hover {
    color: #fdf8e1; }

/* Purchase Album - Button */
.buy {
  margin-top: 25px;
  padding: 5px;
  background: #781125;
  color: white; }
  .buy:hover, .buy:focus {
    font-weight: 600;
    background: #96731A;
    border: 4px #781125 solid;
    transition: all 0.3s ease-in-out; }

/*-------------------------------*/
/*   Layout Imports              */
/*-------------------------------*/
/*-------------------------------*/
/*   _containers.scss            */
/*-------------------------------*/
/* Navigation */
.main-nav {
  width: 100%;
  background: rgba(45, 43, 48, 0.9);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center; }

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  list-style-type: none;
  margin: 0 auto;
  padding: 0; }
  @media (min-width: 840px) {
    .nav {
      max-width: 1200px;
      padding: 0 30px; } }
  .nav .name {
    display: block;
    margin-right: auto;
    letter-spacing: 2px; }
  .nav li {
    padding: 5px 10px 10px 10px; }
  .nav a {
    transition: all .5s;
    font-weight: 400; }
    .nav a:hover, .nav a:focus {
      color: white;
      font-weight: 600; }

.tag {
  color: black;
  padding: 10px;
  letter-spacing: 5px; }

.name {
  font-weight: 300; }

.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  color: #781125; }

.card {
  margin: 10px;
  padding: 10px;
  text-align: left;
  border-top: 4px solid #781125;
  clear: both; }
  @media (min-width: 768px) {
    .card {
      margin: 30px;
      margin-top: 20px;
      padding: 20px 40px 40px; } }
  @media (min-width: 840px) {
    .card {
      margin: 40px auto;
      padding: 20px 20px 40px 20px;
      width: 80%; } }
  .card:hover {
    border-color: #96731A;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out; }

@media (min-width: 840px) {
  .flex {
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

/* Table for Tour Dates */
.tourhead {
  width: 100%;
  text-align: center;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.information {
  width: 100%;
  text-align: center;
  flex: 1 1 0px; }
  @media (min-width: 840px) {
    .information {
      text-align: left; } }

table {
  margin-top: 23px;
  margin: 0 auto;
  border-collapse: collapse; }

th, td {
  vertical-align: top;
  padding: 5px 15px 5px 5px; }
  @media (min-width: 768px) {
    th, td {
      vertical-align: middle;
      padding-right: 25px; } }
  @media (min-width: 840px) {
    th, td {
      vertical-align: middle;
      padding-right: 50px; } }

table caption {
  display: none; }

tr.thead > th {
  text-transform: uppercase;
  font-size: 1.125em;
  letter-spacing: 1px;
  font-weight: 600;
  border-bottom: 4px solid #000;
  padding-bottom: 5px; }

@media (min-width: 480px) {
  tr th:nth-child(1) {
    padding-right: 20px; } }
@media (min-width: 768px) {
  tr th:nth-child(1) {
    padding-right: 60px; } }

tr:nth-of-type(even) {
  background-color: #f0ddab; }

tr:hover {
  background-color: #b3b3b3;
  color: white; }

/* Survey Page */
form {
  margin: 0 auto;
  text-align: left;
  display: block; }
  @media (min-width: 768px) {
    form {
      width: 75%; } }
  @media (min-width: 840px) {
    form {
      width: 100%; } }

.container {
  text-align: center;
  width: 100%; }

fieldset {
  border: none;
  padding-left: 0; }

#hint-email,
#hint-verifyemail,
#hint-submit {
  display: none; }

#newsletter input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.1); }

button, input, email, select, textarea {
  font-family: inherit;
  font-size: 100%; }

select, textarea {
  width: 100%; }
  @media (min-width: 768px) {
    select, textarea {
      width: 75%; } }
  @media (min-width: 840px) {
    select, textarea {
      width: 100%; } }

textarea {
  width: 98%; }

/* Newsletter Form */
#newsletter {
  text-align: right; }

#newsletter fieldset {
  margin: 16px 0 0 0; }

#newsletter legend {
  display: none; }

#newsletter input[type='text'],
#newsletter input[type='email'] {
  width: 100%;
  margin-bottom: 16px;
  padding: 5px 8px;
  font-size: 1em; }
  @media (min-width: 768px) {
    #newsletter input[type='text'],
    #newsletter input[type='email'] {
      width: 75%; } }
  @media (min-width: 840px) {
    #newsletter input[type='text'],
    #newsletter input[type='email'] {
      width: 63%; } }

#newsletter label {
  display: block;
  margin-bottom: 5px; }
  @media (min-width: 768px) {
    #newsletter label {
      display: inline-block;
      margin-bottom: 0; } }

/*-------------------------------*/
/*   header.scss                 */
/*-------------------------------*/
header {
  text-align: center;
  background: url("../img/concert02_no_text.jpg") no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: 350px; }
  @media (min-width: 840px) {
    header {
      min-height: 470px; } }
  header .name {
    font-size: 3em; }

/*-------------------------------*/
/*   footer.scss                 */
/*-------------------------------*/
/* Footer styles */
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 0px; }
  footer .copyright {
    top: -8px;
    font-size: .75em; }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      display: inline-block; }

a.social {
  display: inline-block;
  margin-left: 5px;
  width: 50px;
  height: 30px;
  background-size: 30px 30px;
  transition: all .3s; }
  a.social:hover {
    opacity: 1;
    transform: scale(1.25); }

.clearfix {
  clear: both; }

/*-------------------------------*/
/*  components imports           */
/*-------------------------------*/
/*-------------------------------*/
/*   _images.scss                */
/*-------------------------------*/
.pick {
  height: 1em;
  margin: 0 20px 0 20px; }
  @media (min-width: 768px) {
    .pick {
      height: 1.35em; } }
  @media (min-width: 840px) {
    .pick {
      height: 1.5em; } }

/* Home Page Photos */
.photo {
  display: block;
  width: 100%;
  height: 0%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .photo {
      width: 50%; } }
  @media (min-width: 840px) {
    .photo {
      width: 35%;
      margin: 20px 30px; } }

/* Survey Page Photos */
.survey-photo {
  display: block;
  width: 100%;
  height: 0%;
  margin: 0 auto;
  padding: 5px; }
  @media (min-width: 768px) {
    .survey-photo {
      width: 75%; } }
  @media (min-width: 840px) {
    .survey-photo {
      width: 45%;
      margin: 20px 16px;
      padding: 10px; } }

/*# sourceMappingURL=application.css.map */
