/*-------------------------------*/
/*   footer.scss                 */
/*-------------------------------*/



/* Footer styles */

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 0px;

    .copyright {
	top: -8px;
	font-size: .75em;
    }

    ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
	    display: inline-block;
	}
    }
}
  

a {
  &.social {
    display: inline-block;
   margin-left: 5px;
    width: 50px;
    height: 30px;
    background-size: 30px 30px;
    transition: all .3s;

    &:hover {
	opacity: 1;
	transform: scale(1.25);
    }

  }

}

.clearfix {
  clear: both;
}
