/*-------------------------------*/
/*   _images.scss                */
/*-------------------------------*/


.pick {
  height: 1em;
  margin: 0 20px 0 20px;

  @media #{$brk-tablet} {
    height: 1.35em;
  }

  @media #{$brk-desktop} {
    height: 1.5em;
    }
    
}

/* Home Page Photos */
.photo {
  display: block;
  width: 100%;
  height: 0%;
  margin: 0 auto;

  @media #{$brk-tablet} {
      width: 50%; //26.04166666666667%
  }

  @media #{$brk-desktop} {
    width: 35%; //60%;
    margin: 20px 30px;
  }
}

/* Survey Page Photos */
.survey-photo {
    display: block;
    width: 100%; //60%
    height: 0%;
    margin: 0 auto;
    padding: 5px;

    @media #{$brk-tablet} {
	width: 75%;
    }

    @media #{$brk-desktop} {
	width: 45%; //38%; //50%; //40%
        margin: 20px 16px;//20px 30px
	padding: 10px;
    }
}
